        <nav class="navbar sticky-top navbar-expand-lg navbar-dark " style="background-color: #161616;"><?php
            if(isset($index)){?>
        <a class="navbar-brand" href="#" style="color: #07af2e;"><b>Entrenapp</b></a>
        <?php }else{ ?>
        <a class="navbar-brand" id="volver" href="#" style="color: #07af2e;"><i class="fas fa-angle-double-left"></i></a>
        <?php } ?>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><span class="nav-link" style="color: white;"><i class="fas fa-user"></i>  <?php echo $_SESSION['nombre'] ?></span></li>
                <li class="nav-item"><a class="nav-link" href="logout.php"><i class="fas fa-power-off"></i>  Cerrar Sesión</a></li>
            </ul>
        </div>
    </nav>